header{
    background: rgba(0, 17, 255, 0.705);
    height: 200px;
}
header p{
    color: #fff;
    font-size: 30px;
}

footer{
    background: orangered;
    height: 100px;
}
footer p{
    color: peru;
}